---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Navbar from '../components/Navbar.astro';
import Stats from '../components/Stats.astro';
import Profit from '../components/Profit.astro';
import Cta from '../components/Cta.astro';
import Features from '../components/Features.astro';
import AiFeatures from '../components/AiFeatures.astro';
import Partners from '../components/Partners.astro';
import VideoSection from '../components/VideoSection.astro';
---

<Layout 
	title="SonusHUB | B2B Material Kelistrikan & Energi Terbarukan"
	description="SonusHUB adalah platform B2B untuk kebutuhan material kelistrikan, smart industry, dan solusi energi terbarukan di Indonesia."
>
	<div class="relative">
		<Navbar class="absolute top-0 left-0 w-full z-20 bg-transparent shadow-none" linkClass="text-white" />
		<Hero />
	</div>
	<Stats />
	<Profit />
	<Cta />
	<Features />
	<AiFeatures />
	<Partners />
	<VideoSection />
</Layout>
